<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>items</key>
    <array>
      <dict>
        <key>assets</key>
        <array>
          <dict>
            <key>kind</key>
            <string>software-package</string>
            <key>url</key>
            <string>https://dl.ipas.cc/ipas/ogy6c5.ipa</string>
          </dict>
          <dict>
            <key>kind</key>
            <string>display-image</string>
            <key>url</key>
            <string>https://dl.ipas.cc/icons/ogy6c5-1787480183712.png</string>
          </dict>
          <dict>
            <key>kind</key>
            <string>full-size-image</string>
            <key>url</key>
            <string>https://dl.ipas.cc/icons/ogy6c5-1787480183712.png</string>
          </dict>
        </array>
        <key>metadata</key>
        <dict>
          <key>bundle-identifier</key>
          <string>com.delta.vnggames</string>
          <key>bundle-version</key>
          <string>2.734.915</string>
          <key>kind</key>
          <string>software</string>
          <key>title</key>
          <string>Delta VN</string>
        </dict>
      </dict>
    </array>
  </dict>
</plist>